<div class="form-fields-container">
    <h3 class="form-field-title">Event</h3>
    <div class="form-field-row">
        <label for="eventName_<%= eventId  %>" class="form-field-label">Event Name: </label>
        <input type="text" name="eventName_<%= eventId  %>" id="eventName_<%= eventId  %>" />
    </div>
    <div class="form-field-row">
        <label for="eventNumberOfTabs_<%= eventId  %>" class="form-field-label">Number of tabs: </label>
        <input type="number" name="eventNumberOfTabs_<%= eventId  %>" id="eventNumberOfTabs_<%= eventId  %>" min="1" />
    </div>
</div>